*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--body: hsl(185, 41%, 84%);
	--dark-cyan: hsl(183, 100%, 15%);
	--light-cyan: hsl(172, 67%, 45%);
	--white: hsl(0, 0%, 100%);
	--error: hsl(13, 70%, 61%);

	--small-border-radius: 5px;
	--medium-border-radius: 15px;
	--large-border-radius: 25px;

	--legend: hsl(186, 14%, 43%);
	--subtitle: hsl(184, 14%, 56%);
}

html,
body {
	height: 100vh;
}

body {
	font-family: "Space Mono", monospace;
	font-size: 24px;
	background-color: var(--body);
}

@media only screen and (min-width: 940px) {
	body {
		display: flex;
		place-content: center;
		place-items: center;
	}
}

.flex {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}
/* Form */

fieldset {
	border: 0;
}

fieldset:nth-child(2) {
	margin: 40px 0;
}

label {
	cursor: pointer;
}

input[type="text"],
input[type="number"] {
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
	line-height: 48px;
	border: 0;
	font-family: "Space Mono", monospace;
	font-size: 24px;
	font-weight: 700;
	color: var(--dark-cyan);
	text-align: right;
	border-radius: var(--small-border-radius);
	background-color: #f3f9fa;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input[type="text"]:focus,
input[type="number"]:focus {
	line-height: 44px;
	border: 2px solid var(--light-cyan);
	outline: none;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
	color: hsla(183, 100%, 15%, 35%);
}

.bill,
.numberOfPeople {
	background-position: 20px center;
	background-repeat: no-repeat;
}

.bill {
	background-image: url(./images/icon-dollar.svg);
}

.numberOfPeople {
	background-image: url(./images/icon-person.svg);
}

.error input {
	border: 2px solid var(--error);
}

.error .error-message {
	display: block !important;
	color: var(--error);
	font-size: 16px;
}

.error-message {
	display: none !important;
	color: var(--error);
	font-size: 16px;
}

.legend {
	display: block;
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: 700;
	color: var(--legend);
}

.legend span {
	display: block;
	font-size: 13px;
	color: var(--subtitle);
}

/* Main structure */
.splitter__logo {
	margin: 50px auto;
	text-align: center;
}

@media only screen and (min-width: 940px) {
	.splitter__logo {
		margin-bottom: 80px;
	}
}

.splitter__container {
	padding: 32px;
	border-radius: 25px 25px 0 0;
	background-color: var(--white);
}

@media only screen and (min-width: 940px) {
	.splitter__container {
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 920px;
		border-radius: var(--large-border-radius);
	}

	.splitter__container > div {
		flex-basis: 0;
		flex: 1;
	}

	.splitter__calculator {
		margin: 48px;
		min-width: 380px;
		max-width: 380px;
	}
}

.splitter__result {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: space-between;
	margin: 32px 0;
	padding: 40px 24px;
	border-radius: var(--medium-border-radius);
	background-color: var(--dark-cyan);
}

@media only screen and (min-width: 940px) {
	.splitter__result {
		margin: 32px;
	}
}

.splitter__result .legend {
	color: var(--white);
}

.splitter__result .control:not(:first-child) {
	margin-top: 40px;
}

.price {
	font-size: 32px;
	letter-spacing: -1px;
	color: var(--light-cyan);
}

@media only screen and (min-width: 940px) {
	.price {
		font-size: 48px;
	}
}

/* Tips Component */
.tips {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 48px 48px;
	gap: 14px;
}

@media only screen and (min-width: 940px) {
	.tips {
		grid-template-columns: repeat(3, 1fr);
	}
}

.tips__control {
	position: relative;
}

.tips__radio {
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	top: 0;
	height: 100%;
	opacity: 0;
}

.tips__radio:checked + .tips__label {
	background-color: var(--light-cyan);
}

.tips__label {
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 48px;
	height: 100%;
	color: var(--white);
	border-radius: var(--small-border-radius);
	background-color: var(--dark-cyan);
}

/* Button component */
button {
	margin-top: 32px;
	display: block;
	cursor: pointer;
	width: 100%;
	line-height: 48px;
	font-family: "Space Mono", monospace;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-cyan);
	border: 0;
	border-radius: var(--small-border-radius);
	background-color: var(--light-cyan);
}

button:disabled {
	color: hsla(183, 100%, 15%, 35%);
	background-color: hsl(183, 79%, 24%);
}

button:not(:disabled):hover {
	background-color: hsl(173, 61%, 77%);
}

@media only screen and (min-width: 940px) {
	button {
		margin-top: 0;
	}
}
